@model StudentViewModel

<h2>Student Form</h2>

<form asp-action="Index" method="post">
    <input type="hidden" asp-for="Id" />

    <div>
        <label asp-for="StudentName"></label>
        <input asp-for="StudentName" />
        <span asp-validation-for="StudentName" class="text-danger"></span>
    </div>
    <div>
        <label>Roll</label>
        <input asp-for="Roll" />
    </div>
    <div>
        <label>Email</label>
        <input asp-for="Email" />
    </div>
    <div>
        <label>Department</label>
        <select asp-for="departmentId"
                asp-items="@(new SelectList(Model.departments, "DepartmentId", "DepartmentName"))">
            <option value="">-- Select Department --</option>
        </select>
    </div>

    <button type="submit">Save</button>
</form>

<hr />

<h2>Student List</h2>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Department</th>
        <th>Roll</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
   
         @foreach (var item in Model?.students)
        {
            <tr>
                <td>@item.StudentName</td>
                <td>@item.Department?.DepartmentName</td>
                <td>@item.Roll</td>
                <td>@item.Email</td>

                <td>
                    <!-- VIEW (just show data in form area) -->
                    <a asp-action="Index" asp-route-id="@item.StudentId">View/Edit</a>

                    <!-- DELETE -->
                    <form asp-action="Delete" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@item.StudentId" />
                        <button type="submit" onclick="return confirm('Delete this student?')">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
  }

    
    
    
</table>