@model ResultViewModel

<form asp-action="ResultEntry" method="post">

    <div class="mb-3">

        <label>Student</label>

        <select asp-for="StudentId"
                class="form-control"
                asp-items="@(new SelectList(Model.Students,"StudentId","StudentName"))">

            <option value="">Select Student</option>

        </select>

    </div>

    <table class="table table-bordered">

        <thead>

            <tr>

                <th>Subject</th>

                <th>Marks</th>

            </tr>

        </thead>

        <tbody>

            @for (int i = 0; i < Model.Subjects.Count; i++)
            {
                <tr>

                    <td>

                        @Model.Subjects[i].SubjectName

                        <input type="hidden"
                               asp-for="Subjects[i].SubjectId" />

                        <input type="hidden"
                               asp-for="Subjects[i].SubjectName" />

                    </td>

                    <td>

                        
                        <input asp-for="Subjects[i].Marks"
                               class="form-control marks"
                               min="0"
                               max="100" />
                    </td>

                </tr>
            }

        </tbody>

    </table>

    <button type="button"
            id="btnCalculate"
            class="btn btn-primary">

        Calculate

    </button>

    <hr />

    <div class="row">

        <div class="col-md-3">

            <label>Total</label>

            <input asp-for="TotalMarks"
                   id="TotalMarks"
                   class="form-control"
                   readonly />

        </div>

        <div class="col-md-3">

            <label>Average</label>

            <input asp-for="AverageMarks"
                   id="AverageMarks"
                   class="form-control"
                   readonly />

        </div>

        <div class="col-md-3">

            <label>Grade</label>

            <input asp-for="Grade"
                   id="Grade"
                   class="form-control"
                   readonly />

        </div>

        <div class="col-md-3">

            <label>Status</label>

            <input asp-for="Status"
                   id="Status"
                   class="form-control"
                   readonly />

        </div>

    </div>

    <br />

    <button class="btn btn-success">

        Save

    </button>

</form>
<hr />

<h4>Result List</h4>

<table class="table table-bordered">

    <thead>
        <tr>

            <th>Student</th>
            <th>Total</th>
            <th>Average</th>
            <th>Grade</th>
            <th>Status</th>
            <th></th>

        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model.ResultList)
        {
            <tr>

                <td>@item.Student.StudentName</td>

                <td>@item.TotalMarks</td>

                <td>@item.AverageMarks</td>

                <td>@item.Grade</td>

                <td>@item.Status</td>

                <td>

                    <button type="button"
                            class="btn btn-primary btnView"
                            data-id="@item.ResultId">

                        View

                    </button>

                </td>

            </tr>
        }

    </tbody>

</table>

<div class="modal fade"
     id="detailsModal"
     tabindex="-1">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">

                <h5>

                    Subject Wise Marks

                </h5>

                <button class="btn-close"
                        data-bs-dismiss="modal">
                </button>

            </div>

            <div class="modal-body">

                <div id="detailsBody">
                </div>

            </div>

        </div>

    </div>

</div>

@section Scripts {

    <script>

                $(document).on("keyup change", ".marks", function () {

            var mark = parseFloat($(this).val());

            if (mark > 100) {
                alert("Marks cannot be greater than 100.");
                $(this).val("");
                $(this).focus();
            }

            if (mark < 0) {
                alert("Marks cannot be less than 0.");
                $(this).val("");
                $(this).focus();
            }

        });

        $("#btnCalculate").click(function(){

            var total = 0;

            $(".marks").each(function(){

                total += parseFloat($(this).val()) || 0;

            });

            $("#TotalMarks").val(total);

            var count = $(".marks").length;

            var avg = total / count;

            $("#AverageMarks").val(avg.toFixed(2));

            var grade = "";

            var status = "";

            if(avg>=80){

                grade="A+";
                status="Pass";

            }
            else if(avg>=70){

                grade="A";
                status="Pass";

            }
            else if(avg>=60){

                grade="A-";
                status="Pass";

            }
            else if(avg>=50){

                grade="B";
                status="Pass";

            }
            else{

                grade="F";
                status="Fail";

            }

            $("#Grade").val(grade);

            $("#Status").val(status);

        });

         $(".btnView").click(function(){

            var id=$(this).data("id");

            $.get('/StudentInfo/GetResultDetails/'+id,function(res){

                var html="";

                html+="<table class='table table-bordered'>";

                html+="<tr>";

                html+="<th>Subject</th>";

                html+="<th>Marks</th>";

                html+="</tr>";

                $.each(res,function(i,item){

                    html+="<tr>";

                    html+="<td>"+item.subject.subjectName+"</td>";

                    html+="<td>"+item.marks+"</td>";

                    html+="</tr>";

                });

                html+="</table>";

                $("#detailsBody").html(html);

                $("#detailsModal").modal('show');

            });

        });

    </script>

}


